# We forget for now about the data acquisition and assume we already got our data in CSV

In [3]:
import pandas as pd

In [29]:
df1 = pd.read_csv("input/giornaliero_PM10_storico_7Feb.csv", index_col = 0)
df1.head()

,codice stazione,media [ug/m3],n째 superamenti,% dati validi,anno,data riferimento
nome stazione,,,,,,
Alessandria - Volta,6003805,36.0,5,84,2023,07-02-2023
Alessandria - Volta,6003805,49.0,20,100,2022,07-02-2022
Alessandria - Volta,6003805,45.0,15,97,2021,07-02-2021
Alessandria - Volta,6003805,63.0,24,92,2020,07-02-2020
Alessandria - Volta,6003805,55.0,22,100,2019,07-02-2019

In [30]:
df1.describe()

,codice stazione,media [ug/m3],n째 superamenti,% dati validi,anno
count,2.190000e+02,214.000000,219.000000,219.000000,219.000000
mean,2.601701e+06,37.177570,9.502283,91.689498,2019.105023
std,1.667375e+06,16.454412,8.348693,17.887888,3.087846
min,1.018800e+06,2.000000,0.000000,0.000000,2013.000000
25%,1.161300e+06,28.000000,2.000000,92.000000,2017.000000
50%,2.149801e+06,39.000000,8.000000,97.000000,2020.000000
75%,3.110801e+06,48.000000,16.000000,100.000000,2022.000000
max,6.174800e+06,77.000000,33.000000,100.000000,2023.000000